<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>周杰伦</string>
		<key>text</key>
		<string>你说把爱渐渐放下回忆走更远，或许命运的签只让我们遇见，只让我们相恋，这遗弃的秋天，飘落后才发现这幸福的碎片，要我怎么捡</string>
		<key>where</key>
		<string>台北</string>
		<key>time</key>
		<string>20151018122800</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>方文山</string>
		<key>text</key>
		<string>缓缓掉落的枫叶像思念，我点燃烛火温暖岁末的秋天，极光掠过天边，北风掠过想你的容颜。</string>
		<key>where</key>
		<string>高雄</string>
		<key>time</key>
		<string>20151018122700</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>弹头</string>
		<key>text</key>
		<string>1983年小巷，12月晴朗，夜的第七章，打字机继续推向接近事实的那下一行，石楠烟斗的雾，飘向枯萎的树，沉默对我哭诉。</string>
		<key>where</key>
		<string>桃园</string>
		<key>time</key>
		<string>20151018122000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>李佳薇</string>
		<key>text</key>
		<string>心一跳，爱就开始煎熬，每一分，每一秒。火在烧，烧成灰有多好，将思念，不要吵。</string>
		<key>where</key>
		<string>新加坡</string>
		<key>time</key>
		<string>20151018111000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>Adam Lamburt</string>
		<key>text</key>
		<string>Whatya want from me</string>
		<key>where</key>
		<string>LA</string>
		<key>time</key>
		<string>20151017232800</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>Adam Lamburt</string>
		<key>text</key>
		<string>Whatya want from me</string>
		<key>where</key>
		<string>LA</string>
		<key>time</key>
		<string>20151017180000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>Adam Lamburt</string>
		<key>text</key>
		<string>Whatya want from me</string>
		<key>where</key>
		<string>LA</string>
		<key>time</key>
		<string>20151016230000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>Adam Lamburt</string>
		<key>text</key>
		<string>Whatya want from me</string>
		<key>where</key>
		<string>LA</string>
		<key>time</key>
		<string>20151015230000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>images</key>
		<array>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
			<string>gjqt.jpg</string>
		</array>
		<key>remark</key>
		<string>Adam Lamburt</string>
		<key>text</key>
		<string>Whatya want from me</string>
		<key>where</key>
		<string>LA</string>
		<key>time</key>
		<string>20151013230000</string>
		<key>userImage</key>
		<string>gjqt.jpg</string>
	</dict>
</array>
</plist>
